body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 20px;
}

article {
  margin: 2em 0;
}

figure {
  border: 1px solid #aaa;
  padding: 10px 10px 30px 10px;
  display: block;
  margin: 1em auto;
  width: 522px;
  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
  
  -webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.5);
     -moz-box-shadow: 0 5px 30px rgba(0,0,0,0.5);
      -ms-box-shadow: 0 5px 30px rgba(0,0,0,0.5);
       -o-box-shadow: 0 5px 30px rgba(0,0,0,0.5);
          box-shadow: 0 5px 30px rgba(0,0,0,0.5);
}

figure img {
  border: 1px solid #ccc;
  padding: 10px;
  
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

figure figcaption {
  color: #999;
  display: block;
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
}